{% extends "base.html" %}
{% block content %}
<h1 id="title-spacer">{{ page.meta.title }}</h1>
{% if page.meta.date %}
<p><i>{{ page.meta.date.strftime('%d %B %Y') }}</i></p>
{% endif %}
<p></p>
<div class="post">
{{ page }}
</div>
{% endblock %}

{% block mathjax %}
    {% if page.meta.has_mathjax == 1 %}
    <!-- Mathematics Typesetting -->
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js" type= "text/javascript">
           MathJax.Hub.Config({
           HTML: ["input/TeX","output/HTML-CSS"],
           TeX: { extensions: ["AMSmath.js","AMSsymbols.js"], equationNumbers: { autoNumber: "AMS" } },
           extensions: ["tex2jax.js"],
           jax: ["input/TeX","output/HTML-CSS"],
           tex2jax: {
               inlineMath: [ ['$','$'] ],
               displayMath: [ ['$$','$$'] ],
               processEscapes: true },
           "HTML-CSS": {
               styles: { ".MathJax .mo, .MathJax .mi": {color: "black ! important"}}
           }
       });
    </script>
    {% endif %}
{% endblock mathjax %}
